[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never

# UNT0014: Invalid type for call to GetComponent
dotnet_diagnostic.UNT0014.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# IDE0100: Remove redundant equality
dotnet_diagnostic.IDE0100.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# UNT0024: Give priority to scalar calculations over vector calculations
dotnet_diagnostic.UNT0024.severity = none

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = none

# IDE0048: Add parentheses for clarity
dotnet_diagnostic.IDE0048.severity = none

# IDE0036: Order modifiers
dotnet_diagnostic.IDE0036.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
